[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
heapdict = "*"
google-re2 = "*"
pydantic = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.10"
